* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.column {
    max-width: 450px;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

#img_logo {
    padding-top: 15px;
    width: 280px;
    height: 55px;
}

#img_user {
    width: 60px !important;
    height: 50px !important;
    border-radius: 25px !important;
}

@media only screen and (min-width: 801px) {
    #span_user {
        width: 342px !important;
        align-self: center !important;
        margin-left: 0 !important;
        align-items: center;
        justify-content: center;
    }

    #img_logo {
        width: 329px;
    }

    #div_menu {
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    #logo {
        display: none !important;
    }
    p {
        display: none;
    }
    #logo-nome {
        display: block !important;
        align-self: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #logo_mobile {
        /* width: 120px; */
        /* padding-top: 10px; */
        width: 180px;
        height: 35px;
    }

    #img_user {
        width: 50px !important;
        height: 50px !important;
        border-radius: 25px !important;
    }

    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    .ui.vertical.inverted.sidebar.menu.left.uncover.visible {
        background: darkred !important;
    }
}

@media only screen and (min-width: 992px) {
    .ui.column.grid > [class*="four wide computer"].column,
    .ui.grid > .column.row > [class*="four wide computer"].column,
    .ui.grid > .row > [class*="four wide computer"].column,
    .ui.grid > [class*="four wide computer"].column {
        width: 100% !important;
    }
    body {
        min-height: 750px !important;
    }
}

#redes {
    margin: 0;
}
#logo_space_footer {
    margin: 0;
}
#logo_space_footer > img {
    width: 250px;
    height: 40px;
}
.ui.container.centered.grid {
    max-width: 800px;
    margin-top: 40px;
}

.ui.form {
    margin-top: 10px;
}

@media only screen and (max-width: 801px) {
    .ten.wide.column {
        min-width: 380px !important;
    }
    select {
        height: 50px !important;
    }
    .data {
        height: 50px !important;
    }
    /* .ui.inverted.vertical.segment {
        position: relative !important;
    } */
    body {
        min-height: 900px !important;
    }
}

.label {
    font-size: 18px !important;
}

.ten.wide.column {
    min-width: 600px;
}

.ui.button {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: darkred;
    color: white;
}

.ui.button:hover {
    background-color: #2185d0;
    color: white;
}
.field.centered {
    display: flex;
    justify-content: center;
}
